<nav class="navbar mb-4 has-background-white-ter" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <h3 class="title is-3">storage-app</h3>
        </a>
        <button class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </button>
    </div>
    <div class="navbar-start">

    </div>
    <div class="navbar-end">
        {{#if session.user }} <!-- TODO: only show w/ route is library/files --> 
        <div class="navbar-item" style="width:300px">
            <div class="field" style="width:100%" >
                <p class="control has-icons-left">
                    <input class="input is-small" type="search" placeholder="Search files (CTRL + K)"></input>
                    <span class="icon is-small is-left">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </span>
                </p>
            </div>
        </div>
        {{/if}}
        {{#if session.user }}
        <div class="navbar-item">
            <a class="icon  has-text-black">
                <i class="far fa-bell"></i>
                <span class="ml-2" >0</span>
            </a>
            
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
                <img src="/static/img/default_user.png" alt="User Image" />
                {{ session.user.name }}
            </a>
        
            <div class="navbar-dropdown mr-4 is-right  is-radiusless">
                <div class="dropdown-content">
                    <div class="navbar-item">
                        {{ session.user.username }}
                    </div>
                    <div class="navbar-item">
                        {{ session.user.email }}
                    </div>
                    <hr class="navbar-divider">
                    <a class="navbar-item" href="/settings">
                        <i class="fa fa-cog"></i>Settings
                    </a>
                    <a class="navbar-item" href="/admin">
                        <i class="fa fa-star"></i> Admin Panel
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item has-text-danger" href="/auth/logout">
                        <i class="fa fa-square-up-right"></i>Logout
                    </a>
                </div>
     
            </div>
        </div>
        {{/if}}
    </div>
</nav>