{{#> layouts/default }}
    {{> partials/nav }}
    <div class="mx-3 columns" style="height: 100%">
        <div class="column pl-0 sidebar-column">
            {{> partials/sidebar }}
        </div>
        <div class="column is-10">
            {{> @partial-block }}
        </div>
    </div>
{{/layouts/default}}