<aside class="sidebar pl-0 mb-0">
    <p class="sidebar-header">Workspace</p>
    <ul class="sidebar-list">
        <li  class="is-active"><a href="#"><i class="fa fa-file"></i> Files</a></li>
        <li><a href="#"><i class="fas fa-heart"></i> Favorites</a></li>
        <li><a href="#"><i class="fas fa-clock"></i> Activities</a></li>
    </ul>
    <p class="sidebar-header">Help</p>
    <ul class="sidebar-list">
        <li><a href="#">Help</a></li>
        <li><a href="#">About</a></li>
    </ul>
</aside>
