<aside class="sidebar pl-0 mb-0">
    <p class="sidebar-header">Workspace</p>
    <ul class="sidebar-list">
        <li class="is-active"><button><i class="fa fa-file"></i> Files</button></li>
        <li><button><i class="fas fa-heart"></i> Favorites</button></li>
        <li><button><i class="fas fa-clock"></i> Activities</button></li>
    </ul>
    <p class="sidebar-header">Help</p>
    <ul class="sidebar-list">
        <li><button>Help</button></li>
        <li><button>About</button></li>
    </ul>
</aside>

<style>
    .sidebar {

    }
    .sidebar-header {
        color: hsl(0, 0%, 48%);
        padding-left: 8px;
    }
    .sidebar-list {
        /* margin-top: 2px; */
        padding-top: 10px;
        padding-left: 5px;
        margin-bottom: 25px;
    }
    .sidebar-list li button {
        padding-left: 8px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 5px;
        border-radius: 2.5px;
        /* margin-top: 4px; */
        width: 100%;
        text-align: left;
    }
    .sidebar i {
        margin-left: 2px;
    }
    .sidebar-list li button:hover, .sidebar-list li button.is-active {
        background-color: lightgray;
    }
</style>