<aside class="sidebar pl-0 mb-0">
    <p class="sidebar-header">Workspace</p>
    <ul class="sidebar-list">
        <li  class="is-active"><a href="#"><i class="fa fa-file"></i> Files</a></li>
        <li><a href="#"><i class="fas fa-heart"></i> Favorites</a></li>
        <li><a href="#"><i class="fas fa-clock"></i> Activities</a></li>
    </ul>
    <p class="sidebar-header">Help</p>
    <ul class="sidebar-list">
        <li><a href="#">Help</a></li>
        <li><a href="#">About</a></li>
    </ul>
</aside>

{{!-- <style>
    .sidebar {

    }
    .sidebar-header {
        color: hsl(0, 0%, 48%);
        padding-left: 8px;
    }
    ul.sidebar-list {
        /* margin-top: 2px; */
        padding-top: 10px;
        padding-left: 5px;
        margin-bottom: 25px;
        li a {
            padding-left: 8px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 5px;
            border-radius: 2.5px;
            /* margin-top: 4px; */
            width: 100%;
            text-align: left;
        }
        li a:hover, li a.is-active {
            background-color: lightgray;
        }
    }
    ul.sidebar-list li a {
        padding-left: 8px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 5px;
        border-radius: 2.5px;
        /* margin-top: 4px; */
        width: 100%;
        text-align: left;
    }
      ul.sidebar-list li a:hover, ul.sidebar-list li a.is-active {
            background-color: lightgray;
    }
    .sidebar i {
        margin-left: 2px;
    }
  
</style> --}}