{{#> layouts/main }}
    <div class="content">
        <h4>Credits</h4>
        <ul>
            <li><a href="https://www.flaticon.com/free-icons/default" title="default icons">Default icons created by kliwir art -
                Flaticon</a></li>
        </ul>
    </div>

{{/layouts/main}}