{{#> layouts/main }}
    <div class="">
        <h4 class="title is-4 is-inline">Libraries</h4>
        <div class="is-pulled-right is-inline-block">
            <div class="buttons">
                <div class="button is-small">
                    Display
                </div>
                <div class="button is-small">
                    Sort
                </div>
            </div>
        </div>
        <hr class="my-2">
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <td>Name </td>
                    <td>Size </td>
                    <td>Last Updated </td>
                    <td>Owner </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="px-4 py-4">
                        <a href="/libraries/dbabbf7d-9b63-487b-9908-57c2df11b2d2">My Library</a>
                    </td>
                    <td></td>
                    <td></td>
                    <td>Me</td>
                </tr>
            </tbody>
        </table>
    </div>
{{/layouts/main}}
