{{#> layouts/main }}
    <div class="content">
        <h1>{{ meta.app_name }} <span class="tag">v{{meta.app_version}}</span></h1>
        <p>Open source project <a href="{{meta.repo_url}}"><b>{{ meta.app_name }}</b> (source code)</a></p>
        <h4>Credits</h4>
        <ul>
            <li><a href="https://www.flaticon.com/free-icons/default" title="default icons">Default user icon created by kliwir art -
                Flaticon</a></li>
            <li><a href="https://webgradients.com/">https://webgradients.com/</a></li>
            <li><a href="https://www.seafile.com/">https://www.seafile.com/</a> - For inspiration</li>
            <li><a href="https://fontawesome.com/">https://fontawesome.com/</a> - For icons</li>
        </ul>
    </div>

{{/layouts/main}}