<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/static/favicon.png" />

		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>storage-app</title>
        <!-- TODO: use static -->
        <link href="/static/css/main.css" rel="stylesheet" />
        <link rel="stylesheet" href="/static/css/bulma.min.css">
        <link href="/static/icons/css/fontawesome.css" rel="stylesheet" />
        <link href="/static/icons/css/solid.css" rel="stylesheet" />
        <link href="/static/icons/css/brands.css" rel="stylesheet" />
    </head>
	<body>
        {{> partials/nav }}
        <div class="mx-5 columns" style="height: 100%">
            <div class="column pl-0 sidebar-column">
                {{> partials/sidebar }}
            </div>
            <div class="column is-10">
                {{> @partial-block }}
            </div>
        </div>
	</body>
</html>
